@use "../../styles/variables" as *;

.game-instructions {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: url("../../assets/images/gameplaybg.svg") no-repeat center;
  background-size: cover;
  padding: 2rem 5rem;

  .game-instructions__heading {
    text-align: center;
  }

  .game-instructions__list {
    font-size: 1.2rem;
    text-align: center;
    line-height: 2rem;
  }
}
