@use "../../styles/variables.scss" as *;

.story__container {
  background-image: url(../../assets/images/background.png);
  background-size: cover;
  height: auto;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}
