@use "../../styles/variables.scss" as *;

.button {
  padding: 0.5rem 1.5rem;
  background-color: $color-primary;
  font-family: $font-secondary;
  border-radius: 0.2rem;
  color: $color-white;
  border: 0.125rem solid $color-primary;

  &--secondary {
    background-color: transparent;
    color: $color-primary;
    border-radius: 0;
  }
}
