@use "../../styles/variables.scss" as *;

.button-primary {
  width: 8rem;
  height: 4rem;
  padding: 1rem;
  background-color: transparent;
  border: 2px solid $color-primary;
  color: $color-primary;
  font-family: $font-secondary;
}

.button-secondary {
  width: 16.8rem;
  height: 2.8rem;
  padding: 0.5rem;
  background-color: $color-primary;
  border-radius: 0.2rem;
  border: none;
  color: $color-white;
  font-family: $font-secondary;
}

.button-logout {
  width: 8rem;
  height: 3.3rem;
  padding: 0.5rem;
  background-color: #272e3f;
  border: none;
  color: $color-white;
  font-family: $font-primary;
}

.button-levels {
  width: 16.8rem;
  height: 2.8rem;
  padding: 0.5rem;
  background-color: transparent;
  border: 1px solid $color-white;
  border-radius: 0.2rem;
  color: $color-white;
  font-family: $font-secondary;
}

.button-name {
  width: 16.8rem;
  height: 2.8rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: transparent;
  border: 1px solid $color-accent;
  border-radius: 0.2rem;
  color: $color-white;
  font-family: $font-secondary;
}

@media screen and (min-width: 1100px) {
  .button-primary {
    width: 12rem;
  }
  .button-logout {
    width: 11.9rem;
  }
}
