@use "../../styles/variables" as *;

.level-select-card {
  display: flex;
  flex-direction: column;
  background-color: $color-secondary-light;
  padding: 1rem 2rem;

  .level-select-card__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .level-select-card__heading-text {
      font-weight: 400;
      font-size: 1.5rem;
    }

    .level-select-card__img {
      height: 1.3rem;
      width: 1.1rem;
    }
  }

  .level-select-card__text {
    color: $color-accent;
    margin-bottom: 1.5rem;
  }

  .level-select-card__button {
    align-self: center;
  }
}
