.dashboard {
  background-image: url(../../assets/images/Dashboard-Background-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  padding: 0 1rem;

  .dashboard__heading {
    display: inline-block;
    margin: 2rem;
  }

  .dashboard__contents {
    width: 100%;
    padding-left: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
