.dashboard-container {
  background-image: url(../../assets/images/Dashboard-Background-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  &__heading {
    display: inline-block;
    margin: 2rem;
  }
  &__contents {
    height: 80%;
    position: absolute;
    left: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
