@use "../../styles/variables" as *;

.nav-bar-header {
  display: flex;
  align-items: center;
  &__heading {
    width: 10rem;
    height: 1.8rem;
    margin-right: 0.6rem;
    font-family: $font-primary;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 180%;
    text-decoration: none;

    /* identical to box height, or 29px */

    color: $color-accent;
  }
  &__img {
    margin-left: 0.6rem;
  }
}

.level-select-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__heading {
    width: 10rem;
    height: 1.8rem;
    margin-right: 0.6rem;
    font-family: $font-secondary;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 180%;
    color: $color-white;
    text-decoration: none;
  }

  &__img {
    height: 1.3rem;
    width: 1.1rem;
  }
}
