@use "../../styles/variables" as *;

.timer {
  color: $color-white;
  font-size: 3rem;
  text-align: center;

  .timer__seconds {
    font-family: $font-secondary;
    color: $color-white;
    font-size: 2rem;
  }
}
