@use "../../styles/variables" as *;

.swing-game {
  background-image: url(../../assets/images/GameBackground.png);
  background-size: 100% 100%;
  height: 100%;

  .swing-game__phonic {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .swing-game__squirrel {
    position: absolute;
    width: 6rem;
    height: 6rem;
    cursor: pointer;

    bottom: 5%;
    left: 30%;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
  }

  .swing-game__oom {
    position: absolute;
    width: 14rem;
    height: 14rem;
    bottom: 0.5%;
    left: 65%;
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
    transform: rotate(20deg);
  }

  .swing-game__score {
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: unset;
  }
}

.animate__swinging {
  transform-origin: top center;
  animation-name: swinging;
}

@media screen and (min-width: 1100px) {
  .swing-game {
    .swing-game__squirrel {
      width: 10rem;
      height: 10rem;
    }
    .swing-game__oom {
      width: 18rem;
      height: 18rem;
    }
  }
}

@keyframes swinging {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}

.animate__animated.animate__fastest {
  -webkit-animation-duration: calc(1s * 0.01);
  animation-duration: calc(1s * 0.01);
  -webkit-animation-duration: calc(var(--animate-duration) * 0.01);
  animation-duration: calc(var(--animate-duration) * 0.01);
}
