@use "../../styles/variables" as *;

.intro {
  margin: auto;
  width: 30rem;
  margin-top: 10rem;
  height: 15rem;

  &__paragraph {
    color: $color-primary;
    font-family: $font-primary;
    text-align: center;
    height: 15rem;
    width: 30rem;
    margin-right: 2rem;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1100px) {
  .intro {
    height: 20rem;
    width: 51rem;
    margin-top: 15rem;
    &__paragraph {
      font-size: 1.5rem;
    }
  }
}
