@use "../../styles/_variables.scss" as *;

.stats-page {
  max-width: 1250px;

  .stats-page__top-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .stats-page__buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
  }

  .stats-page__container {
    .stats-page__score-graph,
    .stats-page__correct-phonemes {
      margin-top: 1rem;
      padding: 1rem;
      background-color: $color-secondary-light;
    }

    .stats-page__correct-phonemes {
      li {
        color: $color-white;
        list-style: none;
        margin: 0.5rem;
      }
    }
  }
}
