@use "../../styles/variables.scss" as *;

.text-input {
  display: grid;

  .text-input__label,
  .text-input__input {
    color: $color-white;
    background-color: transparent;
  }

  .text-input__label {
    font-family: $font-secondary;
  }

  .text-input__input {
    min-width: 21.188rem;
    padding: 2ch;
    font-weight: bold;
    font-size: 0.8rem;
    border: 1px solid $color-border;
  }
}
