@use "../../styles/variables" as *;

.nav-bar {
  background-color: $color-secondary-dark;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 12rem;
  border-right: 0.5px solid $color-primary;
  text-decoration: none;
}

@media screen and (min-width: 1100px) {
  .nav-bar {
    max-width: 20rem;
  }
}
