@use '../../styles/variables' as *;

.game-end {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &__top {
    margin-top: 10rem;
  }

  &__buttons {
    display: flex;
    justify-content: space-evenly;
    width: 30rem;
    margin: 0.8rem auto;
  }
  &__timer {
    color: $color-white;
    font-size: 3rem;
    font-family: $font-secondary;
  }
  &__score {
    color: $color-white;
    font-family: $font-secondary;
    font-size: 1.5rem;
  }
}
